include README.md
include LICENSE
include requirements.txt
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include CHANGELOG.md
include SECURITY.md
recursive-include modelos_guardados *.pkl
recursive-include datos *.py
recursive-include experiments *.py
